.jumbotron h1 {
  font-size: 60px;
  color: white;
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: inherit;
  background-color: rgb(255, 0, 170);
  text-align: right;
}

.jumbotron h2 {
  color: white;
}

.portfolio {
  color: orange;
  font-size: 40px;
}

.language {
  font-style: italic;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: rgb(255, 0, 170);
  color: white;
  padding: 3%;
  border-radius: 6px;
}

.sidebar h2 {
  color: orange;
}

.column {
  width: 300px;
  float: left;
}

ul, ol, p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

.highlight {
  border: 2px solid rgb(255, 0, 170);
  padding: 6px;
}

.projects {
  padding-top: 15px;
  padding-bottom: 15px;
}

.background {
  padding-top: 15px;
  padding-bottom: 15px;
}

.interests {
  padding-top: 15px;
  padding-bottom: 15px;
}

.portfolio {
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 700px) and (min-width: 480px) {
  body {
    background-color: black;
    color: white;
  }   
  .row ul {
    color: black;
  }
}